*{
    margin:0;
    padding:0;
    box-sizing:content-box;

}

body{
    font-family: 'Open Sans', sans-serif;
    line-height:1.5;
    background: linear-gradient(rgb(208, 253, 219), rgb(144, 248, 184));
    background-attachment: fixed
}

.buttonSection{
    grid-area:buttonSection;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    border-spacing: 0;
    text-align:center;
    padding-top:10px;
    width: 100%;
    background-color: rgb(224, 241, 243);
    box-shadow: 8px 10px rgb(159, 184, 164);
}
button:hover{

    background-color: rgb(208, 255, 98);
    cursor:pointer;
}

footer{
    grid-area: footer;
    text-align: center;
}

.inputWrapper{
    display:flex;
    justify-content: center;
}
input{
   
    text-align:center;
    margin: 20px;
    width:50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}


input{
    display:block;
    margin: 20px;
    width:100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

h2{
    font-size: 1.5em;
    text-align: center;
    color:rgb(82, 110, 81);
    background-color: #b6df9f;

}

header{
    grid-area: header;
}

thead:hover{
    cursor:pointer;
}

.newRow:hover {
    background-color:rgb(157, 227, 235);

}

header h1{

    font-size: 3em;
    text-align: center;
    margin-bottom:30px;
    color:rgb(82, 110, 81);
}


table{
    border-spacing: 0;
    text-align:center;
    width: 100%;
    background-color: rgb(224, 241, 243);
    box-shadow: 8px 10px rgb(159, 184, 164);

}

th{
   margin-bottom: 5px;
}

tr:nth-child(even){
    background-color: rgb(214, 227, 228);
}

tr{

    margin:5px;
    font-weight:200;
}
.activeButton{
    border: 2px solid rgb(60, 75, 63);
    color:rgb(60, 75, 63);
    background-color: #b6df9f;
    padding: 10px 32px;
    font-weight:600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;

    margin: 10px 20px;
}

 .centeredButtons{
  
    text-align: center;
}  

#componentTitle{
    grid-area:componentTitle;
    position:sticky;
}

#mainTable{
    grid-area:mainTable;
}


        /* COMPUTER */
@media screen and (min-width:1100px){

 main{

    width:90%;
    max-width:1000px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto; 
    margin: 0 auto;
}

#container{
    grid-template-areas:
    "header header"
    "componentTitle componentTitle"
     "mainTable mainTable"
     "buttonSection buttonSection"
     "footer footer"
}
} 
        /*TABLET*/
@media screen and (max-width:1100px){
    main{
        width:90%;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto; 
        margin: 0 auto;
    }
    
    #container{
        grid-template-areas:
            "header header"
            "componentTitle componentTitle"
             "mainTable mainTable"
             "buttonSection buttonSection"
             "footer footer"
    }

    header h1{
        font-size:1.75em;
    }
}
        /*PHONE*/
@media screen and (max-width:500px){

    main{
        width:90%;
        max-width: 450px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto 10vh;
       
        margin: 0 auto;
    }
    
    #container{
        grid-template-areas:
            "header"
            "componentTitle"
            "mainTable"
            "buttonSection"
            "footer";

    }

    .table{

        border-spacing: 0;
    text-align:center;
    width: 100%;
    background-color: rgb(224, 241, 243);
        box-shadow:none;
       }

      
}   
    
